apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: counter-service
  namespace: prod
  labels:
    app: counter-service
spec:
  selector:
    matchLabels:
      app: counter-service
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s

