replicaCount: 2

image:
  repository: 630943284793.dkr.ecr.eu-west-2.amazonaws.com/counter-service
  tag: "5c069cd974eead333b47e5c78b990e6c3732b56b"
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: counter-service
  annotations:
    # This annotation is required for the pod to assume the IAM role for reading secrets.
    eks.amazonaws.com/role-arn: "arn:aws:iam::630943284793:role/counter-service-secrets-role"

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: true
    existingSecret: "redis-secret"
    existingSecretPasswordKey: "password"
  master:
    persistence:
      enabled: true
      size: 1Gi
      storageClass: encrypted-gp3
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "500m"
        memory: "256Mi"
  nameOverride: counter-redis

redisConfig:
  host: counter-redis-master
  port: 6379
  passwordFromFile: "/mnt/secrets/redis-password"
  db: 0

ingress:
  enabled: false

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 60

pdb:
  enabled: true
  minAvailable: 1

topologySpreadConstraints:
  enabled: true
  maxSkew: 1
  topologyKey: topology.kubernetes.io/zone
  whenUnsatisfiable: DoNotSchedule

namespace: prod

networkPolicy:
  enabled: false
