apiVersion: v1
kind: ConfigMap
metadata:
  name: envoy-config
  namespace: {{ .Values.namespace | default "default" }}
data:
  envoy.yaml: |
    static_resources:
      listeners:
      - name: listener_0
        address:
          socket_address: { address: 0.0.0.0, port_value: 8080 }
        filter_chains:
        - filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              stat_prefix: ingress_http
              route_config:
                name: local_route
                virtual_hosts:
                - name: local_service
                  domains: ["*"]
                  routes:
                  - match: { prefix: "/" }
                    route: { cluster: counter_service }
              http_filters:
              - name: envoy.filters.http.router
      clusters:
      - name: counter_service
        connect_timeout: 0.25s
        type: STRICT_DNS
        dns_lookup_family: V4_ONLY
        lb_policy: ROUND_ROBIN
        load_assignment:
          cluster_name: counter_service
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: counter-service
                    port_value: {{ .Values.service.port }}
---
apiVersion: v1
kind: Service
metadata:
  name: envoy-proxy
  namespace: {{ .Values.namespace | default "default" }}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
spec:
  type: LoadBalancer
  selector:
    app: envoy-proxy
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
