apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy-proxy
  namespace: {{ .Values.namespace }}
  labels:
    app: envoy-proxy
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: envoy-proxy
  template:
    metadata:
      labels:
        app: envoy-proxy
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        runAsNonRoot: true
      containers:
      - name: envoy-proxy
        image: envoyproxy/envoy:v1.24.0 # Use a specific, vetted version
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: envoy-config-volume
          mountPath: /etc/envoy
          readOnly: true
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      volumes:
      - name: envoy-config-volume
        configMap:
          name: envoy-config