# This Service exposes the counter-service pods internally within the cluster.
apiVersion: v1
kind: Service
metadata:
  name: counter-service
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
  selector:
    app: counter-service
