apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Mar-Yac/counter-service.git
    targetRevision: main
    path: k8s/argocd
    # This tells ArgoCD to look for all Application manifests in the specified path
    directory:
      recurse: true
      # Exclude this file itself to prevent a recursive loop
      exclude: '{app-of-apps.yaml}'
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
