apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: counter-service
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    # Pointing to the Helm chart within this Git repository
    repoURL: https://github.com/Mar-Yac/counter-service.git
    targetRevision: main
    path: helm/counter-service
    helm:
      releaseName: counter-service
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true # The 'prod' namespace needs to be created
